.container {
    border: 10px solid red;
    padding: 20px;
    margin: 10px 100px;
    width: 950px;
    height: 950px;
    display: flex;
    flex-direction: column;
}

.row {
    border: 2px solid black;
    display: flex;
    flex: 1;
}

.square {
    border : 2px solid grey;
    flex: 1;
}